body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #DDDDDD;
  max-width: 100%;
}

.container {
  max-width: 100%;
}

.category-menu {
  display: flex;
  justify-content: space-around;
  background-color: #DDDDDD;
  margin: 5px;
}

.category-title {
  color: blue;
}

.category {
  color: black;
  background-color: white;
  width: 20%;
  font-size: 1em;
  font-weight: bold;
}

.item-list {
  background-color: #DDDDDD;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: block;
}

.item-description {
  position: relative;
}

.item-name {
  position: relative;
  top: 5;
  left: 10;
}
