body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: grey;
}

.games-list {
  background-color: #DDDDDD;
}

.game {
  background-color: #FFFFFF;
  position: relative;
  min-width: 260px;
  min-height: 154px;
  overflow: hidden;
  max-width: 260px;
  max-height: 154px;
}

.category-menu {
  display: inline;
  background-color: #DDDDDD;
  margin: 5px;
}

.category {
  color: white;
}

.jackpot-game {

}
.category,.game{display:inline-block;}
span.game-name {
    top: 15px;
    left: 15px;
    color: #fff;

}
.game img {
    min-width: 100%;
    min-height: 100%;
}
span.game-name,.play-button{
    position: absolute;z-index: 9999;}
.play-button{
    top: 50%;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 120%;
    left: 90px;
}
button.play-button:before {
    content: ">";
    width: 50px;
    height: 50px;
    cursor: pointer;
}
